mixin categoryInputTable(options = null)
  table
    thead
      tr
        td(colspan='2') Options
    tbody
      tr
        td
          input(type="text" id="optionInput" placeholder="Option")
        td
          i(class="far fa-plus-square" onclick='addReedCategory()').addIcon
      if ( options )
        each option in options
          tr
            td= option
            td
              i(class='far fa-trash-alt' onclick='this.parentElement.parentElement.remove()')