doctype html
html(lang="en")
	head
		title Admin Control Panel
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Libre Baskerville")
		link(rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Raleway Dots')
		script(src="https://kit.fontawesome.com/296e9763f7.js")

		//- Each page that inherits this file will call their own function for initializing page
		block scripts
			script
				include ../../scripts/index.js
		//- Each page that inherits this file will include their own style links
		block styles
			style
				include ../../styling/global.css
	body(onload="begin.initListeners()")
		//- Block for any mixins
		block mixins

		// A container for a dark, transparent overlay when navigation bar is displayed
		#bg_block
		// Container for holding side navigation bar
		#side_nav_cont
		#nav_bar_cont
			h2(onclick="window.location.href='https://cca-server.herokuapp.com/cca-admin-control-panel/'") CCA Control Panel
			i.fas.fa-bars
			nav
				a(href="/cca-admin-control-panel/performance/past") Past Performances
				a.past_sublink(href="/cca-admin-control-panel/performance/past") Performances
				a.past_sublink(href="/cca-admin-control-panel/performance/past/collaborators") Collaborators
				a.past_sublink(href="/cca-admin-control-panel/performance/past/anecdotes") Anecdotes
				a(href="/cca-admin-control-panel/performance/present") My Music Stand
				a(href="/cca-admin-control-panel/performance/future") Future Performances
				a(href="/cca-admin-control-panel/editing") Editing
				a(href="/cca-admin-control-panel/reedmaking") Reedmaking

		//- Pug comment that won't be outputted as html comment
		h1.controlPanelHeader Admin Control Panel
		//- Block for current page location. Default is home page
		block location
			h3 &ndash; &nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp; &ndash;
		//- Block for page content. Default is homme page content
		block page_content
			h4#welcome_text Welcome to the CCA Admin Control Panel!