mixin categoryTable(category, reed_id)
  table.category
    caption
      h5= category['name']
      div.reedmakingControls
        a(href=`/cca-admin-control-panel/reedmaking/category/edit?reed_id=${reed_id}&category_id=${category['_id']}`)
          i(class='far fa-edit')
        button.delete-category
          i(class='far fa-trash-alt' data-reed_id=reed_id data-category_id=category['_id'])
    thead
      tr
        td Options
    tbody
      each option in category['options']
        tr
          td= option