# Files for git to ignore when pushing to remote branch

# Dependencies
/node_modules
/package-lock.json

# Compiled files
admin/html/scripts/index.js
admin/html/scripts/lib

# User data
/admin/login/public.pem
/admin/login/private.key
/admin/login/user.json

# Global variables
.env

# Client info
# Confidential
client_info.json