//- This file holds the pug mixin for the add card when user clicks on add button for respective sections
mixin reedmakingAddCard
	section.card.addCard
		form#addForm
			h2 Add:
		div.controlsCont
			span.msg
			div.ctrlBtnAdd
				i(class="fas fa-check-circle")
			div.ctrlBtnClear
				i(class="fas fa-times-circle")