//- This file is a template for the reedmaking info
mixin reedmakingPricingCard(pricing)
	section.card.reedmakingCard
		h2.name #{pricing.name}
		p.description #{pricing.description}
		aside.controlsCont
			span.msg
			div.ctrlBtnEdit
				i(class="far fa-edit" data-id=`${pricing.id}`)
			div.ctrlBtnDelete
				i(class="far fa-times-circle" data-id=`${pricing.id}`)