doctype html
html(lang="en")
	head
		title Admin Control Panel
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Libre Baskerville")
		link(rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Raleway Dots')
		script(src="https://kit.fontawesome.com/296e9763f7.js")

		script
			include ../scripts/index.js
		style
			include ../styling/control_panel.css
	body(onload="begin.initListeners()")
		//- Include card mixins 
		include ./mixins/pastPerformanceCard.pug
		include ./mixins/currentMusicCard.pug
		include ./mixins/futurePerformanceCard.pug
		//- Include add card mixins
		include ./mixins/add_cards/past.pug
		include ./mixins/add_cards/present.pug
		include ./mixins/add_cards/future.pug

		//- Pug comment that won't be outputted as html comment
		h1.controlPanelHeader Admin Control Panel

		div.headerCont
			h2.header Past Performances
			input(type="button" value="Add")
		+pastAddCard
		//- Loop through data passed to pug template
		each performance in past
			+pastPerformanceCard(performance)

		div.headerCont
			h2.header Current Music (My Music Stand)
			input(type="button", value="Add")
		+presentAddCard
		each song in present
			+currentMusicCard(song)

		div.headerCont
			h2.header Future Performances
			input(type="button", value="Add")
		+futureAddCard
		each performance in future
			+futurePerformanceCard(performance)