#previousLink {
  display: block;
  margin:1rem auto;
  width: fit-content;
}
section.reedmakingCard {
  width: 480px;
}
header.inputCardHeader {
  border-bottom: 1px solid #cccccc;
  margin-top: 10px;

  h4 {
    margin: 0;
  }
}
form#addForm {
  text-align:center;
  padding:20px 10px;
}
/* Add/Edit action paired with title */
div.inputRow {
  margin-bottom:1.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 0.5rem;
}
/*
  Reed Input Cards
*/
label {
  border-bottom: 1px solid black;
  padding-left: 6px;
  padding-bottom: 2px;
}
textarea#reedDescriptionInput {
  width: 50%;
  min-height: 4lh;
  min-width: 50%;
  max-width: 90%;
  max-height: 8lh;
}
#flatRateCheckbox {
  display: block;
  margin:10px auto 0px;

  &:checked + table { 
    caption > div.inputRow {
      display: none;
    }
    thead {
      & > tr:first-of-type {
        display: none; 
      }
      & > tr:last-of-type {
        display: table-row;
      } 
    }
    tbody {
      & > tr:first-of-type {
        display: none;
      }
      & > tr:nth-of-type(2) {
        display: table-row;
      }
    }
  }
}
table.displayRatesInputTable {
  border-collapse: collapse;
  margin:auto;
/*  width: 320px;*/
  width: 70%;

  thead {
    background-color:#e4e4e4;
    
    & > tr:last-of-type {
      display: none;
    }
  }
  tbody {
    & > tr:nth-of-type(2) {
      display: none;
    }
  }
  td > input {
    width: 6rem;
  }
  i.addIcon {
    font-size: 1.2rem;
  }
  td {
    text-align: center;
    padding:14px 10px;
  }
}
caption {
  margin-bottom: 0.5rem;
  margin-left: 5px;

  & > h5 {
    border-bottom:1px solid black;
    font-weight: unset;
    margin: 0 auto 0 0;
    padding: 0px 10px 5px;
    width: fit-content;
  }
  & > div.inputRow {
    margin: 0;
  }
}
/* footer contains confirm/decline buttons */
footer.confirmDeclineBtns {
  border-top: 1px solid #cccccc;
  text-align: center;
  padding-top:10px;

  & > input {
    border:1px solid black;
    margin:0px 16px;

    &.cancel {
      padding:6px 14px;
    }
    &.confirm {
      background-color: #0053ff;
      padding:6px 24px;
      color:white;
    }
  }
}