//- This file holds the pug mixin for the edit description card

//- Extend base add-edit carrd
include ./template.pug

mixin editDescription
	+baseCard(id="descriptionInputCard")
		textarea(name="description" rows="4" cols="50" spellchheck="true" wrap="soft" placeholder="Enter Description...")