//- This file holds the pug mixin for the add card when user clicks on add button for respective sections

//- Extend base add-edit carrd
include ./template.pug

mixin editName
	+baseCard(id="nameInputCard")
		input(type="text" name="name" placeholder="Reed Name...")