//- This file holds the pug mixin for the add/edit name card

//- Extend base add-edit carrd
include ./template.pug

mixin addEditRate
	+baseCard(id="rateInputCard")
		div.inputRow
			label(for="quantityInput") Quantity: &nbsp;&nbsp;
			input(type="number" id="quantityInput" name="quantity" min="0" step="1")
		div.inputRow
			label(for="priceInput") Price: &nbsp;&nbsp;
			input(type="text" id="priceInput" placeholder="00" name="price" min="0")