//-
	This file inherits from the base template
extends ../../page_template.pug

//- Call init function for current music, appending to included script
//-block append scripts
	script
		- begin.initEditingListeners();

//- Define styles to include, appending to included global style
block append styles
	include ../../../../styling/editing.css

//- Define mixins needed for music_stand
block mixins
	include ./mixins/lit_card.pug
	include ./mixins/add_edit/single_input.pug
	include ./mixins/add_edit/rate.pug
	include ./mixins/add_edit/lit_type.pug

//- Define location
block location
	h3!= "&ndash; &nbsp;&nbsp;&nbsp;Editing&nbsp;&nbsp;&nbsp; &ndash;"

//- Define page content
block page_content
	div#backDropCont
		div(id = "backDrop")
		+addEditSingleInput
		+addEditRate
		+addEditLitType
	div(id = "addLitTypeCont")
		h2= "Literature Type"
		i(class="far fa-plus-square")
	each pricing in editing
		+literaturePricingCard(pricing)