//-
	This file inherits from the base template
extends ../../page_template.pug

//- Call init function for current music, appending to included script
//-block append scripts
	script
		- begin.initReedmakingListeners();

//- Define styles to include, appending to included global style
block append styles
	include ../../../../styling/reedmaking.css

//- Define mixins needed for music_stand
block mixins
	include ./mixins/reedmaking_card.pug
	include ./mixins/add_edit/name.pug
	include ./mixins/add_edit/description.pug
	include ./mixins/add_edit/rate.pug
	include ./mixins/add_edit/reed.pug

//- Define location
block location
	h3!= "&ndash; &nbsp;&nbsp;&nbsp;Reedmaking&nbsp;&nbsp;&nbsp; &ndash;"

//- Define page content
block page_content
	div(id="backDropCont")
		div(id = "backDrop")
		+editName
		+editDescription
		+addEditRate
		+addReed
	div(id = "addReedCont")
		h2= "Reed Type"
		i(class="far fa-plus-square")
	each pricing in reedmaking
		+reedmakingPricingCard(pricing)