i:hover {
	cursor:pointer;
}
div#addLitTypeCont {
	margin:1.5rem auto 0.5rem auto;
	width:700px;
}
div#addLitTypeCont > h2 {
	display: inline;
	font-size:1.65rem; /*h1 = font-size 2rem, h2 = font-size 1.5rem*/
}
div#addLitTypeCont > i {
	float:right;
	font-size:1.65rem;
}
header.literatureType {
	margin:0.25rem auto 1.25rem 1rem;
}
header.literatureType > h1 {
	margin:0;
}
/* Includes genres and rates tables */
section.literatureCard > table {
	border-collapse: collapse;
	margin:auto;
	margin-bottom:2.5rem;
	width:75%;
}
section.literatureCard > table.displayGenres {
	width:40%;
}
h4.editingTypeHeader {
	border-bottom:1px solid black;
	text-align:center;
	margin:auto;
	padding-bottom:5px;
	font-size: unset;
	width:8rem;
}
/* Container for 'Genres' and 'Rates' subheaders, and add button */
caption {
	margin:10px 0px;
}
caption > h4 {
	display:inline;
	float:left;
	margin:0px;
	padding-left:15px;
}
caption > i {
	font-size:1.25rem;
	float:right;
	padding-right:15px;
}
thead {
	background-color:#e4e4e4;
}
tr > td {
	text-align: center;
	padding:14px 10px;
}
tr > td.controls {
	width:fit-content;
}
td.controls > i {
	font-size:1.15rem;
}
td.controls > i:last-of-type {
	padding-left:20px;
}
/**********************/
/*   Add/Edit Cards   */
/*********************/
/*                  */
/*   General Card   */
/*                  */
div#backDropCont {
	position: fixed;
	display:none;
	overflow-y: scroll;
	top:0px;
	width:100vw;
	height:100vh;
	z-index:1;
}
div#backDrop {
	background-color:black;
	position: fixed;
	width: inherit;
	height: inherit;
	opacity:0.5;
	z-index:2;
}
section[id *= "Input"] {
	position:relative;
	display:none;
	top: 10%;
	width:35%;
	z-index:2;
}
/* Header container for card's action and name of item being acted upon */
header.inputCardHeader {
	border-bottom: 1px solid #cccccc;
}
/* Add/Edit action paired with title */
header > span {
	font-size:1.5rem;
}
article.input {
	text-align:center;
	padding:20px 10px;
}
div.inputRow {
	margin-bottom:1.5rem;
}
div.inputRow:nth-of-type(3) {
	display:none;
}
form > input[type="checkbox"] {
	margin-bottom:15px;
}
/* footer contains confirm/decline buttons */
footer.confirmDeclineBtns {
	border-top: 1px solid #cccccc;
	text-align: center;
	padding-top:10px;
}
footer.confirmDeclineBtns > input {
	border:1px solid black;
	margin:0px 16px;
}
/* Cancel */
input.cancel {
	padding:6px 14px;
}
/* Add/Edit buttons */
input.confirm {
	background-color: #0053ff;
	padding:6px 24px;
	color:white;
}
/*                    */
/*   Specific Cards   */
/*                    */
#singleInputCard input[type = "text"], .rateCard input[type = "text"] {
	font-size:1rem;
}
/*
	Add Genre Card
*/
#singleInputCard {
	width:25%;
}
/*
	Add Rate Card
*/
#rateInputCard > article.input > span:first-child {
	display:inline-block;
	margin-bottom:10px;
}
/* 
	Add Literature Card 
*/
label[for = "litTypeInput"] {
	position: absolute;
	transform:translateX(-100%);
}
h3[class $= "Header"] {
	border-bottom:1px solid black;
	margin: auto;
	padding:0px 13px;
	width:fit-content;
}
/* Genres */
div#genresCont {
	position: relative;
	margin:auto;
	width:40%;
}
div#genresCont > h3 {
	margin:10px auto;
}
div#genresCont > input {
	width:70%;
}
div#genresCont > i {
	position:absolute;
	transform:translateY(10%);
	right:0;
}
ul#genres {
	list-style-position: inside;
	padding-inline-start:0px;
	margin:1rem auto 1.5rem auto;
	width:70%;
}
ul#genres > li {
	text-align:left;
	padding-bottom:5px;
}
ul#genres i {
	transform:translateY(10%);
	float:right;
}
ul#genres i:hover {
	cursor: pointer;
}
/* Rates  */
section.rates table {
	border-collapse: collapse;
	margin:auto;
	margin-bottom:2.5rem;
} 
section.rates > span.includeFlatRate {
	font-size: 0.85rem;
}
caption.inputRatesTableCaption > h4 {
	border-bottom:1px solid black;
	font-weight: unset;
	font-size: 0.85rem;
	margin-left: 15px;
	padding: 0px 10px;
	width: min-content;
}
/* Row that contains the inputs for adding rates to new literature type card */
tr.inputRates > td {
	padding:5px 10px;
}
tr.inputRates input {
	width:100%;
}
/* Remove flat rate column */
table[class $= "RatesInputTable"] td:nth-of-type(3) {
	display:none;
}
/* Rates Table */
i.addIcon {
	font-size:1.2rem;
}