/*   Add Card   */
section#addCard input#location {
	display: inline-block;
}
div#instrumentsCont {
	display: inline;
	margin-left:7.25rem;
}
div#instrumentsCont > input#add_instrument {
	margin-left:1rem;
}
div#instrumentsCont > input[type = "text"] {
	display: inline-block
}
ul#instruments {
	margin:auto;
	float:right;
	height:75px;
	width:12rem;
	overflow-y:auto;
	margin-right:13rem;
}
ul#instruments > li {
	padding-bottom:5px;
}
ul#instruments i {
	float:right;
}
ul#instruments i:hover {
	cursor: pointer;
}
section#addCard input[type = "date"] {
	display:block;
	margin:2rem 0rem 1.25rem 0rem;
}
section#addCard input[type="time"] {
	margin-right:5rem;
	margin-bottom:1.25rem;
}
label {
	font-size:0.95rem;
	margin-right:10px;
}
/*	  Display Cards   */
article.subHeaderCont {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-between;
	width:55%;
}
div.instrumentsCont > h4 {
	display:inline-block;
}
section.futureCard > p.date, p.time {
	width:55%;
}
p.date, p.time {
	font-style:italic;
	font-family:"Raleway Dots", "Lato", sans-serif;
	font-weight: bolder;
	text-align: center;
	font-size:0.9rem;
	margin:0;
}
p.date {
	margin-bottom:5px;
}
p.time {
	margin-bottom:1.5rem;
}
section.futureCard p.description {
	display:inline-block;
	font-size:0.8rem;
	width:75%;
}