body {
	background-color:#efefef;
	margin:0px;
}
h3#welcome_text {
	text-align:center;
}
h4#logout {
	position: absolute;
	text-decoration: underline;
	font-weight: 500;
	margin:0;
	top:10px;
	right:30px;
}
h4#logout:hover {
	cursor:pointer;
}
/******************/
/*   Navigation   */
/******************/
/*Page layover*/
#bg_block {
	background-color:black;
	position: fixed;
	display:none;
	opacity:0.4;
	width:100vw;
	height:100vh;
	top:0px;
	z-index: 1;
}
/*Transparent navigation container
#side_nav_cont {
	background-color:#252525;
	position:fixed;
	opacity:0.5;
	width:21rem;
	height:100%;
	left:-21rem;
	transition:left 1s ease-out 0s;
	top:0px;
	z-index: 2;
}*/
#nav_bar_cont {
	background-color:#efefef;
	position: fixed;
	width:21rem;
	height:100vh;
	left:-21rem;
	transition:left 1s ease-out 0s;
	top:0px;
	z-index: 3;
}
#nav_bar_cont > h2 {
	padding-left:1rem;
}
#nav_bar_cont > h2:hover {
	cursor:pointer;
}
#nav_bar_cont > i {
	position: absolute;
	top:10px;
	right:-30px;
	font-size:1.5rem;
	transition: right 1s ease-out 0s;
}
#nav_bar_cont > i:hover {
	cursor:pointer;
}
nav > a {
	border-bottom:5px solid #999999;
	text-decoration: none;
	padding:0.5rem 1rem;
	font-size:1.1rem;
	color:#340604;
	display: block;
}
nav > a.past_sublink {
	padding-left:4rem;
}
nav > a:hover {
	background-color:#999999;
}
/*Actual navigation container holding links*/
/*	PAGE HEADER	 */
h1.controlPanelHeader, h1.controlPanelHeader + h3 {
	font-family:"Lato", sans-serif;
	margin:auto;
	width:fit-content;
}
h1.controlPanelHeader + h3 {
	margin-bottom:0.75rem;
}
#addBtn {
	display:block;
	margin:auto;
	margin-bottom:2rem;
}
/**************************/
/*	  INDIVIDUAL CARDS    */
/**************************/
/*   DISPLAY CARDS   */
section.card {
	background-color:white;
	box-shadow:5px 5px 10px 0px #00000047;
	font-family: "Lato", sans-serif;
	position: relative;
	padding:10px 15px;
	margin:auto;
	margin-bottom:2rem;
	width:700px;
}
/*   Card Title   */
section.card > h2 {
	margin-top:0.5rem;
	margin-bottom:0;
}
/*   Card Subheaders   */
/*Composer, Locations, Instruments*/
section.card  h4 {
	font-size:0.9rem;
	font-style:italic;
}
/*  Card Descriptions  */
section.card p:last-of-type {
	display:inline-block;
	font-size:0.8rem;
	width:75%;
}
/*   Controls   */
section.card > aside.controlsCont {
	position: absolute;
	text-align: center;
	right:0;
	top:0;
	width:25%;
	height:100%;
}
span.msg {
	position: absolute;
	transform:translateX(-50%);
	font-weight:bold;
	color:#f50c0c;
	left:50%;
	top:10%;
	width:65%;
}
#ctrlBtnAdd, #ctrlBtnClear, div[class *= "Btn"] {
	position: absolute;
	transform: translateY(-50%);
}
#ctrlBtnAdd, #ctrlBtnClear, div[class *= "Btn"]:first-of-type {
	/*Sizings of edit icon*/
	width:28.81px;
	height:25px;
}
#ctrlBtnAdd > i:hover, div[class *= "Btn"]:first-of-type > i:hover {
	color:green;
}
#ctrlBtnClear, div[class *= "Btn"]:last-of-type {
	/*Sizings of delete icon*/
	width:25.61px;
	height:25px;
}
#ctrlBtnClear > i:hover, div[class *= "Btn"]:last-of-type > i:hover {
	color:red;
}
aside.controlsCont i {
	font-size:1.6rem;
}
aside.controlsCont i:hover {
	color:gray;
	cursor:pointer;
}
div.ctrlBtnEdit {
	top:50%;
	left:25%;
}
div.ctrlBtnDelete {
	top:50%;
	right:25%;
}
div.editBtnConfirm {
	left:50%;
	top:30%;
}
div.editBtnDecline {
	left:50%;
	top:70%;
}
div[class ^= "delete"] {
	transform: translateY(0%);
}
div.deleteBtnConfirm {
	top:60%;
	left:25%;
}
div.deleteBtnDecline {
	top:60%;
	right:25%;
}
/*   ADD CARDS   */
section#addCard {
	padding:20px 15px;
	display:none;
}
header {
	padding-bottom:10px;
	text-align: center;
}
header > span {
	font-size:1.5rem;
}/*
section#addCard h2 {
	position: absolute;
	top:1rem;
	left:50%;
	transform:translateX(-50%);
	margin:auto;
}*/
form#addForm > input:nth-child(2) {
	margin-top:1rem;
}
div.fileCont > input {
	position: absolute;
}
section#addCard input[type="text"] {
	display:block;
	margin-bottom: 10px;
}
form#addForm > input[type='text']:nth-of-type(1) {
	font-size: 1rem;
}
section#addCard textarea {
	min-width:50%;
	min-height:3.76rem;
	max-width:75%;
	max-height:10rem;
}
div#ctrlBtnAdd {
	top:50%;
	left:25%;
}
div#ctrlBtnClear {
	top:50%;
	right:25%;
}