div#addReedCont {
	margin:1.5rem auto 0.5rem auto;
	width:480px;
}
div#addReedCont > h2 {
	display: inline;
	font-size:1.65rem; /*h1 = font-size 2rem, h2 = font-size 1.5rem*/
}
div#addReedCont > i {
	float:right;
	font-size:1.65rem;
}
/*********************/
/*   Global Styles   */
/*********************/
table[class ^= "displayRates"] {
	border-collapse: collapse;
	margin:auto;
	margin-bottom: 20px;
}
caption {
	margin:10px 0px;
}
caption > h4 {
	display:inline;
	float:left;
	margin:0px;
	padding-left:15px;
}
caption > i {
	font-size:1.25rem;
	float:right;
	padding-right:15px;
}
thead {
	background-color:#e4e4e4;
}
tr > td {
	text-align: center;
	padding:14px 10px;
}
/*********************/
/*   Display Cards   */
/*********************/
section.reedmakingCard {
	width: 480px;
}
h3[class $= "Header"] {
	border-bottom:1px solid black;
	margin: auto;
	padding:5px 13px;
	width:fit-content;
}
header.nameHeaderCont {
	position: relative;
	width: fit-content;
	margin: auto;
}
p.name {
	display: inline-block;
}
p.name + i {
	position: absolute;
	font-size: 1.2rem;
	transform: translateX(160%);
	top: 18%;
	right: 0%;
}
p.name, p.description {
	padding: 10px 0px;
	margin: auto;
	width: fit-content;
}
h3.descriptionHeader + i {
	font-size: 1.15rem;
	text-align: center;
	margin-top: 0.5rem;
	font-size: 1.2rem;
	display: block;
}
p.description {
	font-size:0.8rem;
}
table.displayRates {
	width: 65%;
}
table.displayRates td:last-of-type {
	padding-left: 60px;
}
tr > td.controls {
	width:fit-content;
}
td.controls > i {
	font-size:1.15rem;
}
td.controls > i:last-of-type {
	padding-left:20px;
}
/**********************/
/*   Add/Edit Cards   */
/*********************/
/*                  */
/*   General Card   */
/*                  */
div#backDropCont {
	position: fixed;
	display:none;
	overflow-y: scroll;
	top:0px;
	width:100vw;
	height:100vh;
	z-index:1;
}
div#backDrop {
	background-color:black;
	position: fixed;
	width: inherit;
	height: inherit;
	opacity:0.5;
	z-index:2;
}
section[id *= "Input"] {
	position:relative;
	display:none;
	top: 10%;
	width:500px;
	z-index:2;
}
/* Header container for card's action and name of item being acted upon */
header.inputCardHeader {
	border-bottom: 1px solid #cccccc;
}
/* Add/Edit action paired with title */
header > span {
	font-size:1.5rem;
}
article.input {
	text-align:center;
	padding:20px 10px;
}
div.inputRow {
	margin-bottom:1.5rem;
}
/* footer contains confirm/decline buttons */
footer.confirmDeclineBtns {
	border-top: 1px solid #cccccc;
	text-align: center;
	padding-top:10px;
}
footer.confirmDeclineBtns > input {
	border:1px solid black;
	margin:0px 16px;
}
/* Cancel */
input.cancel {
	padding:6px 14px;
}
/* Add/Edit buttons */
input.confirm {
	background-color: #0053ff;
	padding:6px 24px;
	color:white;
}
/*                    */
/*   Specific Cards   */
/*                    */
#nameInputCard input[name = "name"] {
	font-size: 1rem;
}
/*
	Single input cards
*/
#nameInputCard, #descriptionInputCard {
	width: 25%;
}
/*
	Description Input Card
*/
#descriptionInputCard textarea {
	width: 75%;
	margin: auto;
}
/*
	Rate input card
*/
#rateInputCard {
	width: 25%;
}
/*
	Rate and Reed input rows
*/
label[for $= "Input"] {
	position: absolute;
	transform:translateX(-100%);
}
/*
	Reed Input Cards
*/
label[for = "reedDescriptionInput"] {
	position: relative;
	border-bottom: 1px solid black;
	padding-left: 6px;
	padding-bottom: 2px;
}
textarea#reedDescriptionInput {
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 10px;
}
caption.inputRatesTableCaption > h4 {
	border-bottom:1px solid black;
	font-weight: unset;
	margin-left: 15px;
	padding: 0px 10px;
	width: min-content;
}
table.displayRatesInputTable {
	width: 320px;
}
table.displayRatesInputTable td {
	padding: 14px 0px;
}
td > input {
	width: 6rem;
}
i.addIcon {
	font-size: 1.2rem;
}