//- This file is a template for the editing info
mixin editingPricingCard(pricing)
	section.card.editingCard
		
		div.controlsCont
			span.msg
			div.ctrlBtnEdit
				i(class="far fa-edit") 
				//-(data-id=`${pricing.id}`)
			div.ctrlBtnDelete
				i(class="far fa-times-circle")
				//-data-id=`${pricing.id}`)