//-
	This file inherits from the base template
extends ../../../../page_template.pug

//- Call init function for collaborators, appending to included script
//-block append scripts
	script
		- document.alert();


//- Define styles to include, appending to included global style
block append styles
	style
		include ../../../../../../styling/collaborators.css

//- Define mixins needed for collaborators
block mixins
	include ./mixins/add_card.pug
	include ./mixins/collaborator_card.pug

//- Define location
block location
	h3!= "&ndash; &nbsp;&nbsp;&nbsp;Collaborators&nbsp;&nbsp;&nbsp; &ndash;"
	input(type="button" value="Add")#addBtn

//- Define page content
block page_content
	+collaboratorAddCard
	//- Loop through data passed to pug template
	each collaborator in collaborators
		+collaboratorCard(collaborator)