//-File for handling genre add/edit template

//-Extend base add/edit template
include ./template.pug

mixin addEditLitType
	+baseCard(id="addLitTypeInputCard")
		form
			div.inputRow
				label(for="litTypeInput") Type: &nbsp;&nbsp;
				input(type="text" id="litTypeInput" placeholder="Enter..." name="litType")

			div#genresCont
				h3.genresHeader Genres
				input(type="text" placeholder="Genre..." name="genre")
				i(class="far fa-plus-square").addIcon
				ul#genres
			section.rates
				h3.ratesHeader Rates
				span.includeFlatRate Include Flat Rate?
				input(type="checkbox" name="includeFlatRate")
				table.standardRatesInputTable
					caption.inputRatesTableCaption
						//-h4.ratesCaptionHeader Standard Proofreading
						h4 Standard Proofreading
					thead
						tr
							td Min
							td Max
							td Flat Rate
							td Per Hour
							td Per Word
							td
					tbody 
						tr.inputRates
							td
								input(type="text" name="min" placeholder="00")
							td
								input(type="text" name="max" placeholder="00")
							td
								input(type="text" name="flatRate" placeholder="$0.00")
							td
								input(type="text" name="perHour" placeholder="$0.00")
							td
								input(type="text" name="perWord" placeholder="$0.00")
							td
								i(class="far fa-plus-square").addIcon
				table.experimentalRatesInputTable
					caption.inputRatesTableCaption
						//-h4.ratesCaptionHeader Experimental Editing
						h4 Developmental Editing
					thead
						tr
							td Min
							td Max
							td Flat Rate
							td Per Hour
							td Per Word
							td
					tbody 
						tr.inputRates
							td
								input(type="text" name="min" placeholder="00")
							td
								input(type="text" name="max" placeholder="00")
							td
								input(type="text" name="flatRate" placeholder="$0.00")
							td
								input(type="text" name="perHour" placeholder="$0.00")
							td
								input(type="text" name="perWord" placeholder="$0.00")
							td
								i(class="far fa-plus-square").addIcon
				table.bothRatesInputTable
					caption.inputRatesTableCaption
						//-h4.ratesCaptionHeader Both
						h4 Both
					thead
						tr
							td Min
							td Max
							td Flat Rate
							td Per Hour
							td Per Word
							td
					tbody 
						tr.inputRates
							td
								input(type="text" name="min" placeholder="00")
							td
								input(type="text" name="max" placeholder="00")
							td
								input(type="text" name="flatRate" placeholder="$0.00")
							td
								input(type="text" name="perHour" placeholder="$0.00")
							td
								input(type="text" name="perWord" placeholder="$0.00")
							td
								i(class="far fa-plus-square").addIcon