//-File for handling genre add/edit template

//-Extend base add/edit template
include ./template.pug

mixin addEditSingleInput
	+baseCard(id="singleInputCard")
		form
			input(type="text" placeholder="Enter..." name="single_input")#singleInnput