//- This file holds the pug mixin for the add card when user clicks on add button for respective sections
mixin pastAddCard
	section.card.addCard
		form#addForm
			h2 Add:
			div#imgCont
				i.far.fa-images
				img(src="" alt="" width="150px")
			div.fileCont
				input(type="file" id="" name="imgFile")
			input(type="text" name="title" spellcheck="true" placeholder="Enter Name...")
			input(type="text" name="location" id="location" placeholder="Location...")
			div#instrumentsCont
				input(type="text" maxlength="18" placeholder="Instrument...")
				input(type="button" id="add_instrument" value="Add")
				ul#instruments
			input(type="date" name="date")
			textarea(name="description" rows="4" cols="55" spellchheck="true" wrap="soft" placeholder="Enter Description...")
		div.controlsCont
			span.msg
			div.ctrlBtnAdd
				i(class="fas fa-check-circle")
			div.ctrlBtnClear
				i(class="fas fa-times-circle")